
.power-up-btns {

    border-radius: 0px;
    border: 0;
    outline: none;

    height: 40px;
    width: 80px;

    transition: filter ease-in-out ;
}

.power-up-btns:active {

    filter:brightness(120%)



}