
.form-inputs{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 5%;
    
}

.main-div{

    border-radius: 10px;
    border: 2px solid #ab47bc;
    padding: 20px;
}

.color-selection{
    width: 100px;
    overflow:hidden;
}