#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cat-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container {
  width: 600px;
  height: 400px;         
  overflow: hidden;       

}

.btn {
  width: auto;

  border: none;
  border-radius: 20px;

  padding: 12px;
  margin: 10px;
}

.btn:hover {
  background-color: rgb(116, 38, 188);
  cursor: pointer;
}