#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.img-container {
  border-radius: 10px;
  width: 600px;
  height: 400px;         
  overflow: hidden;       

}

.banned-btn{
  display: inline;
  align-items: center;
  height: fit-content;
}

.btn {
  width: auto;

  border: none;
  border-radius: 20px;

  padding: 12px;
  margin: 10px;
}

.btn:hover {
  background-color: rgb(116, 38, 188);
  cursor: pointer;
}

