
.autocomplete {
  position: relative;
}

.input-container {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    align-items: flex-start;

    gap:8px;


}

.input-subcontainer {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-input {
    min-height: 25px;
    background-color: #1c1c1c;
    border: 1px solid #3a3a3a;
    color: #eaeaea;
}

.search-input:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #5a5a5a;
        
}

h5 {
    margin: 0px;
}
